<main>
  <div class="container">
    <div class="mx-auto">

      <div class="row">
        <div class="col-md-6 offset-md-1">
          <h2 class="my-5">マイページ</h2>
        </div>
      </div>

      <div class="row">
        <strong>登録情報</strong>
        <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success" %>
      </div>

      <div class="row">
        
        <div class="field d-flex flex-row justify-content-between mb-2">
        <table>

          <tr>
            <td>氏名</td>
            <td>
              <%= @customer.first_name %>
              <%= @customer.last_name %>
            </td>
          </tr>

          <tr>
            <td>フリガナ</td>
            <td>
              <%= @customer.first_name_kana %>
              <%= @customer.last_name_kana %>
            </td>
          </tr>

          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postcode %></td>
          </tr>

          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>

          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>

        </table>
      </div>

      <div class="row">
        <strong>配送先</strong>
        <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-outline-danger" %>
      </div>

      <div class~"row">
        <strong>注文履歴</strong>
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-outline-danger" %>
      </div>

    </div>
  </div>
</main>