<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-1">
        <h2 class="my-5">管理者ログイン</h2>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table table-borderless mb-5" style="width: 600px">
            <tbody>
              <tr>
                <th><%= f.label :メールアドレス %></th>
                <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %></td>
              </tr>

              <tr>
                <th><%= f.label :パスワード %></th>
                <td colspan="2"><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
              </tr>
            </tbody>
          </table>
          <div class="col text-center mb-5">
            <%= f.submit "ログイン", class: 'btn btn-sm btn-primary w-25 mt-3' %>
          </div>
        <% end %>
        <%= render "admin/shared/links" %>
      </div>
    </div>
  </div>
</main>