<!--注文履歴を作ってないのでまだ未完成-->

<main>
    <div class="container">
        
        <div class="my-4">
        <span style="background-color:pink;">注文履歴詳細</span>
        </div>
        
        
        <div class="col-6"> 
                <strong>請求情報</strong>
                <table class="table table-bordered">
                    
                    <tr>
                        <th>購入者</th> <td><%= @order.full_name %></td>
                    </tr>
                    <tr>
                        <th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                    </tr>
                    <tr>
                        <th>配送先</th><td><%= @order.postcode_address %></td>
                    </tr>
                    <tr>
                        <th>支払方法</th><td><%= @order.payment_method %></td>
                    </tr>
                    <tr>
                        <!--ここ全然わからんなにこれ-->
                        <%= form_with model:@order, local: true do |f| %>
                        <th>注文ステータス</th>
                        <td><%= f.select :order_status, options_from_collection_for_select(Order.order_status, id, :order_status  %> <%= f.submit "更新", class:"btn btn-success" %></td>
                        <% end %>
                    </tr>
                </table>
        　　</div>
        
        <div class="row">
            <div class="col-6">
                <table class="table table-bordered">
                    <thead>
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>
                        <th>製作ステータス</th>
                        <th></th>
                    </thead>
                    
                    <tbody>
                        <!--each do で注文履歴一覧を表示させる-->
                        <td>
                            <!--Order-details.created_at day-->
                        </td>
                        <td>
                            <!--Order_details.postcode-->
                            <!--Order_details.address-->
                            <!--Order_details.full_name-->
                        </td>
                        <td>
                            <!--Order_details.quantity-->
                        </td>
                        <td>
                            <!--Order_details.price-->
                        </td>
                        
                        <!--form_with で製作ステータスの更新させる-->
                        
                        <td>
                            <!--Order_details.Order.order_status-->
                        </td>
                        <td>
                            <!--order_path current_id-->
                            
                        </td>
                    </tbody>
                </table>
            </div>
           
           <div class="col-2">
               <table>
                   <tr>
                       <th>商品合計</th><td></td>
                   </tr>
                   <tr>
                       <th>送料</th><td></td>
                   </tr>
                   <tr>
                       <th>請求金額合計</th><td></td>
                   </tr>
               </table>
           </div>
           
           
            
        </div>
    </div>
</main>