<main>
  <div class="container">
    <div class="row">
      <%= render "homes/category", categories: @categories %>
      <div class="col-md-9 my-5 ml-5">
        <h2>商品一覧</h2>
        <span class="inline-block small pl-3">(全<%= @items.count %>件)</span>
        <div class="d-flex justify-content-between flex-wrap">
          <div>
            <%= image_tag 'test.png', size: "180x120" %>
            <ul class="list-group">
              <li>商品名商品名商品名</li>
              <li>¥9,999</li>
            </ul>
          </div>
          <div>
            <%= image_tag 'test.png', size: "180x120" %>
            <ul class="list-group">
              <li>商品名商品名商品名</li>
              <li>¥9,999</li>
            </ul>
          </div>
          <div>
            <%= image_tag 'test.png', size: "180x120" %>
            <ul class="list-group">
              <li>商品名商品名商品名</li>
              <li>¥9,999</li>
            </ul>
          </div>
          <div>
            <%= image_tag 'test.png', size: "180x120" %>
            <ul class="list-group">
              <li>商品名商品名商品名</li>
              <li>¥9,999</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>