<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>ジャンル一覧・追加</h2>
      <div>
        <%= form_with model: [:admin, @category], local:true do |f| %>
          ジャンル名
          <%= f.text_field :name, placeholder: 'ジャンル名'  %>
          <%= f.submit '新規登録' %>
        <% end %>
      </div>
      <table>
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do %>
            <tr>
              <td><%= @category.name %></td>
              <td><%= link_to '編集する', edit_admin_category_path(@category.id), class: 'btn btn-sm btn-success' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>